- set_meta_tags title: 'DigiFoos'

- content_for :breadcrumbs do
  %ol.breadcrumb
    %li><
      = link_to fa_icon('home'), root_path
    %li.active><
      Groups

.row
  .col-md-12
    %h2 My Groups
    .groups-index
      - if @groups.any?
        .list-group
          - @groups.each do |group|
            = link_to "/#{group.slug}", class: 'list-group-item' do
              %span.name= group.name
              %span.stats.pull-right
                = group_stats(group)

      - else
        .alert.alert-info
          You have no groups created, yet.

      %a.btn.btn-primary{ href: new_group_path }
        = fa_icon 'plus', text: 'Add New Group'

- if current_user.managed_groups.any?
  .row
    .col-md-12
      %h2 Managed Groups
      .groups-index
        .list-group
          - current_user.managed_groups.each do |group|
            = link_to "/#{group.slug}", class: 'list-group-item' do
              %span.name= group.name
              %span.stats.pull-right
                = group_stats(group)