- content_for :breadcrumbs do
  #header.row
    .col-md-12
      %ol.breadcrumb
        %li
          = link_to fa_icon('home'), root_path
        %li.active
          New Group

= simple_form_for @group, url: groups_path, methods: :post do |f|
  = f.error_notification
  = f.input :name, placeholder: 'Name', label: false
  = f.button :submit, class: 'btn-primary'
