- set_meta_tags title: 'DigiFoos'

- content_for :breadcrumbs do
  #header.row
    .col-md-12
      %ol.breadcrumb
        %li
          = link_to fa_icon('home'), root_path
        %li.active
          New Group

.row
  .col-md-3
  .col-md-6
    = simple_form_for @group, url: groups_path, method: :post do |f|
      = f.error_notification
      = f.input :name, placeholder: 'Name', label: false
      = f.button :submit, class: 'btn-primary full-width'
  .col-md-3