- set_meta_tags title: current_group.name

- content_for :breadcrumbs do
  #header.row
    .col-md-12
      %ol.breadcrumb
        %li
          = link_to fa_icon('home'), root_path
        %li.active
          = current_group.name

- content_for :navbar do
  %li
    %a{ href: group_players_path(current_group) }
      = fa_icon 'users', text: 'Manage Players'
  %li
    %a{ href: edit_group_path(current_group) }
      = fa_icon 'cog', text: 'Edit Group'

.row
  .col-md-7
    = render file: 'games/index'

  .col-md-5
    = render file: 'players/ranked_list'