- if can? :update, @game
  .created-game
    .row
      .col-md-12
        %h2 Choose who's playing against who

    - @game.teams.order('teams.id ASC').tap do |teams|
      .row
        = render 'games/addable_players_list',    teams: teams, current: 0
        = render 'games/addable_players_list',    teams: teams, current: 1
      .row
        = render 'games/removeable_players_list', teams: teams, current: 0
        = render 'games/removeable_players_list', teams: teams, current: 1

      .row.actions
        .col-md-12
          - if @game.ready_to_play?
            .start
              %a.btn.btn-primary.btn-lg(data-method="POST" data-remote="true"){ href: start_game_path(@game), 'data-disable-with' => spinner }
                = fa_icon 'play'
                Let's Roll!

          %a.btn.btn-danger.btn-sm(data-method="DELETE" data-remote="true"){ href: cancel_game_path(@game), 'data-disable-with' => spinner }
            = fa_icon 'ban'
            Abort
