.current-game
  .row
    .goals.col-md-12
      = "#{@current_game.teams.first.goals} : #{@current_game.teams.last.goals}"

  .row
    .team1.team.col-xs-5
      = player_link @current_game.teams.first.players.first
      = player_link @current_game.teams.first.players.last
    .vs.col-xs-2
      .label.label-danger
        vs
    .team2.team.col-xs-5
      = player_link @current_game.teams.last.players.first
      = player_link @current_game.teams.last.players.last

- if can? :update, @current_game
  .current-game-control
    .row
      .team1.col-xs-5
        .btn-group
          %a.btn.btn-lg.btn-success(href="#")= fa_icon 'plus'
          %a.btn.btn-lg.btn-danger(href="#")= fa_icon 'minus'
      .col-xs-2
      .team2.col-xs-5
        .btn-group
          %a.btn.btn-lg.btn-danger(href="#")= fa_icon 'minus'
          %a.btn.btn-lg.btn-success(href="#")= fa_icon 'plus'
