- @open_game.teams.tap do |teams|
  - if @open_game.running?
    .running-game
      .row
        .goals.col-md-12
          = "#{teams[0].goals} : #{teams[1].goals}"

      .row
        .team1.team.col-xs-5
          = player_link teams[0].players[0]
          = player_link teams[0].players[1]
        .vs.col-xs-2
          .label.label-danger
            vs
        .team2.team.col-xs-5
          = player_link teams[1].players[0]
          = player_link teams[1].players[1]

      - if can? :update, @open_game
        .running-game-controls
          .row
            .team1.col-xs-5
              .btn-group
                %a.btn.btn-lg.btn-success(href="#")= fa_icon 'plus'
                %a.btn.btn-lg.btn-danger(href="#")= fa_icon 'minus'
            .col-xs-2
            .team2.col-xs-5
              .btn-group
                %a.btn.btn-lg.btn-danger(href="#")= fa_icon 'minus'
                %a.btn.btn-lg.btn-success(href="#")= fa_icon 'plus'

  - elsif @open_game.created?
    = render 'games/created_game', teams: teams