.running-game
  - @game.teams.order('teams.id ASC').tap do |teams|
    .row
      .goals.col-md-12
        = "#{teams[0].goals} : #{teams[1].goals}"

    .row
      .team1.team.col-xs-5
        = player_link teams[0].players[0]
        = player_link teams[0].players[1]
      .vs.col-xs-2
        .label.label-danger
          vs
      .team2.team.col-xs-5
        = player_link teams[1].players[0]
        = player_link teams[1].players[1]

    - if can? :update, @game
      .running-game-controls
        .row
          .team1.col-xs-5
            .btn-group
              %a.btn.btn-lg.btn-success(data-method="POST" data-remote="true"){ href: inc_goals_game_path(@game, teams[0]) }= fa_icon 'plus'
              %a.btn.btn-lg.btn-danger(data-method="DELETE" data-remote="true"){ href: dec_goals_game_path(@game, teams[0]) }= fa_icon 'minus'
          .col-xs-2
          .team2.col-xs-5
            .btn-group
              %a.btn.btn-lg.btn-danger(data-method="DELETE" data-remote="true"){ href: dec_goals_game_path(@game, teams[1]) }= fa_icon 'minus'
              %a.btn.btn-lg.btn-success(data-method="POST" data-remote="true"){ href: inc_goals_game_path(@game, teams[1]) }= fa_icon 'plus'

  - if can? :update, @game
    .row.actions
      .col-md-12
        .finish
          - if @game.finishable?
            %a.btn.btn-success.btn-lg(data-method="POST"){ href: finish_game_path(@game), 'data-disable-with' => spinner }
              = fa_icon 'flag-checkered', text: 'Game Over!'

        %a.btn.btn-danger.btn-sm(data-method="DELETE" data-remote="true" data-confirm="Are you sure?"){ href: cancel_game_path(@game), 'data-disable-with' => spinner }
          = fa_icon 'ban', text: 'Abort Game'