.games
  .open-game
    = render "games/#{@game.try(:status) || 'start' }_game"

  - if @games.any?
    .all-games
      %table.table.table-striped
        %tbody
          - @games.each do |game|
            = date_indicator game
            - game.teams.order('teams.id ASC').tap do |team|
              %tr
                = render 'games/team_cell', team: team[0]
                %td.score
                  %span{ class: winner_loser_class(team[0]) }><= fa_icon 'star'
                  .label.alert-info><= team[0].goals
                  %span><= ':'
                  .label.alert-info><= team[1].goals
                  %span{ class: winner_loser_class(team[1]) }><= fa_icon 'star'
                = render 'games/team_cell', team: team[1]

      = paginate @games

  - else
    .alert.alert-warning
      No games found.