.players
  - position = 0
  - if @players.any?
    .list-group
      - @players.each do |player|
        - if player.games_played > 0
          - position += 1
          = link_to group_player_path(current_group, player), class: 'list-group-item' do
            .label.label-primary.pull-left
              %span.number= position

            - if position <= 3
              = fa_stacked_icon 'trophy inverse', base: 'circle', class: "trophy position-#{position}"
              %span.name.with_trophy= player.name
            - else
              %span.name= player.name

            .label.label-warning.pull-right
              %span.text Score
              %span.number= player.points

  - if position == 0
    .alert.alert-warning
      No players found.