.players
  - if @players.any?
    .list-group
      - @players.each_with_index do |player, position|
        = link_to group_player_path(current_group, player), class: 'list-group-item' do
          .label.label-primary.pull-left
            %span.number= position + 1

          - if position < 3
            = fa_stacked_icon 'trophy inverse', base: 'circle', class: "trophy position-#{position}"
            %span.name.with_trophy= player.name
          - else
            %span.name= player.name

          .label.label-success.pull-right
            %span.text Points
            %span.number= player.points

  - else
    .alert.alert-warning
      No players found.