.players
  - if @players.any?
    .list-group
      - @players.each_with_index do |player, position|
        = link_to group_player_path(current_group, player), class: 'list-group-item' do
          .label.label-primary.pull-left
            %span.number= position + 1

          - if position < 3
            %span.trophy{ class: "position-#{position}" }= fa_icon 'trophy'

          = player.name

          .label.label-success.pull-right
            %span.text Points
            %span.number= player.points

  - else
    .alert.alert-warning
      No players found.