- content_for :breadcrumbs do
  #header.row
    .col-md-12
      %ol.breadcrumb
        %li
          = link_to fa_icon('home'), root_path
        %li.active
          = link_to current_group.name, group_path(current_group)
        %li.active
          New Player

.row
  .col-md-3
  .col-md-6
    = simple_form_for @player, url: group_players_path(@group), method: :post do |f|
      = f.error_notification
      = f.input :name, placeholder: 'Name', label: false
      = f.submit value: 'Create Player', class: 'btn btn-success full-width'