- set_meta_tags title: @group.name

- render 'groups/default_navbar'

- content_for :breadcrumbs do
  %ol.breadcrumb
    %li
      = link_to fa_icon('home'), root_path
    %li.active
      = link_to current_group.name, group_path(current_group)
    %li.active
      = @player.name

#player
  .row
    .col-md-12
      %h1
        - if @stats.place <= 3
          = fa_stacked_icon 'trophy inverse', base: 'circle', class: "trophy position-#{@stats.place}"

        .badge.plain
          %span.prefix.player Player
          = @player.name

        %br

        .badge.alert-info
          %span.prefix.place Place
          = @stats.place

        .badge.alert-warning
          %span.prefix.score Score
          = @stats.score
          %span.postfix= "Avg. #{@stats.score_avg}"

        .badge.alert-success
          %span.prefix.games Games
          = @stats.games_won
          %span.postfix= "#{@stats.games_won_percentage}%"

        .badge.alert-danger
          %span.prefix.games Games
          = @stats.games_lost
          %span.postfix= "#{@stats.games_lost_percentage}%"

        .badge.alert-success
          %span.prefix.goals Goals
          = @stats.goals_made
          %span.postfix= "Avg. #{@stats.goals_made_average}"

        .badge.alert-danger
          %span.prefix.goals Goals
          = @stats.goals_against
          %span.postfix= "Avg. #{@stats.goals_against_average}"


  .row
    .buddy-ftw-ladder.col-md-4
      .panel.panel-primary
        .panel-heading
          %span.pull-right Games Won Together
          %h3.panel-title Buddy FTW
        .list-group
          - @stats.buddy_ftw.each do |data|
            = link_to group_player_path(current_group, data['player_id']), class: 'list-group-item' do
              = Player.find(data['player_id']).name
              .badge.alert-info= data['number_of_games']

    .little-spoon-ladder.col-md-4
      .panel.panel-success
        .panel-heading
          %span.pull-right Games Won Against
          %h3.panel-title Little Spoon
        .list-group
          - @stats.little_spoon.each do |data|
            = link_to group_player_path(current_group, data['player_id']), class: 'list-group-item' do
              = Player.find(data['player_id']).name
              .badge.alert-success= data['number_of_games']

    .big.spoon-ladder.col-md-4
      .panel.panel-danger
        .panel-heading
          %span.pull-right Games Lost Against
          %h3.panel-title Big Spoon
        .list-group
          - @stats.big_spoon.each do |data|
            = link_to group_player_path(current_group, data['player_id']), class: 'list-group-item' do
              = Player.find(data['player_id']).name
              .badge.alert-danger= data['number_of_games']