- set_meta_tags title: @group.name

- render 'groups/default_navbar'

- content_for :breadcrumbs do
  %ol.breadcrumb
    %li
      = link_to fa_icon('home'), root_path
    %li.active
      = link_to current_group.name, group_path(current_group)
    %li.active
      = @player.name

#player
  .row
    .col-md-12
      %h1= @player.name

  .row
    .col-md-3
      %table.table.table-hover
        %tbody
          %tr.success.alert-success
            %td
              %span.title Games Won
            %td.numbers
              %span.absolute 12
              %span.percentage 50%

          %tr.danger.alert-danger
            %td
              %span.title Games Lost
            %td.numbers
              %span.absolute 12
              %span.percentage 50%

          %tr
            %td Buddy FTW
            %td= player_link 1

          %tr
            %td Big Spoon
            %td= player_link 2

          %tr
            %td Little Spoon
            %td= player_link 3

    .col-md-9
      %canvas#player-chart(width="700" height="400")